@mixin titulos{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    
    

}
@mixin parrafos{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    
    
    
}




